<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About_Bikes</title>
<!--                               page title-->
</head>
<body>
<h1>
    search
<!--            heading 1 for search option-->
</h1>
<form action="/bike" method="post">
    <input type="text" id="text" name="text" placeholder="Enter Your brand">
<!--                                                                              this line for enter bike brand-->
    <input type="text" id="text1" name="text1" placeholder="Enter Your bike name">
<!--                                                                                   this line for enter bike name-->
    <input type="submit">
<!--                           this line for submit ur search-->

</form>
</body>
</html>